# Environments
env/
.venv/
.venv-macos/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Node
node_modules/

# PyInstaller
build/
dist/
!desktop_runtime/scripts/
!desktop_runtime/pyinstaller/

# Frappe
tmp/
logs/
*.log
sites/*/locks/
sites/*/logs/
sites/*/private/backups/

# OS
.DS_Store
